* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.desktop {
  width: 100vw;
  height: 100vh;
  background: #08111b;
  position: relative;

  background-image: url("../../assets/star-chart.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  overflow: hidden;
}


.vignette {
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: radial-gradient(
    circle,
    transparent 45%,
    rgba(0, 0, 0, 0.35) 100%
  );
}

.grain {
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0.08;

  background-image: url("http://www.transparenttextures.com/patterns/noisy.png");
}